<div>
    <h1>Anonymous Trial</h1>
    <div class="form form-horizontal">
        <div class="form-group">
            <label for="trial-length" class="control-label col-xs-3 col-xs-offset-3">Trial Length</label>
            <div class="col-xs-2">
                <input class="form-control" type="number" placeholder="600" id="trial-length"
                                         ng-model="settings.trial_length"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3 col-xs-offset-3">Color Scheme</label>

            <div class="col-xs-2">
                <select class="form-control" ng-model="settings.color_scheme" ng-options="k for (k,v) in color_schemes">

                </select>
            </div>
        </div>
    </div>
    <div class="choices">
        <a class="" href="#trial">< Begin ></a>
    </div>
</div>