<div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="trial-length" class="control-label col-sm-4">Trial Length</label>
            <div class="col-sm-8">
                <input class="form-control" type="number" placeholder="600" id="trial-length"
                                         ng-model="settings.trial_length"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Color Scheme</label>

            <div class="col-sm-8">
                <select class="form-control" ng-model="settings.color_scheme" ng-options="k for (k,v) in color_schemes">

                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <a class="btn btn-default btn-lg btn-block" href="#trial">Begin</a>
            </div>
        </div>
    </form>
    <small>Anonymous trials are not saved! If you want to keep your data, download it when you are done.</small>
</div>